// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.signupContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f2;
}

.userForm {
  width: 50vw;
  height: fit-content;
  margin: 0 auto;
  transform: translate(0, 30vh);
}

form {
  display: flex;
  flex-direction: column;
}

.formSize {
  width: 30vw;
  margin: 0 auto;
}

.formHeader {
  text-transform: uppercase;
}

.floatingLabel, .lineInput {
  transition: all 0.2s;
}

.lineInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(32, 29, 32, 0.5);
  margin: 15px 0;
  padding: 5px;
}

.lineInput:focus {
  outline: none;
  border-bottom: 2px solid rgba(32, 29, 32, 1);
}

.lineInput::placeholder {
  font-family: "Coolvetica Regular";
  text-transform: uppercase;
}

// add input on focus here, make that the full opacity
// also animation of bottom border expanding!!! o dear this so cool

.codeGraphic {
  width: 50vw;
  background-color: #201D20;
  background-image: url('code-snippet.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.userBtn {
  background-color: #A6E22E;
  color: #201D20;
  border: 0;
  font-family: "Coolvetica Regular";
  font-size: 20px;
  text-transform: uppercase;
  height: 60px;
  margin: 2vh 0;
  line-height: 60px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(62, 61, 50,0.35);
  -moz-box-shadow: 0px 0px 8px 0px rgba(62, 61, 50,0.35);
  box-shadow: 0px 0px 8px 0px rgba(62, 61, 50,0.35);
}

.userRedirectPrompt {
  color: #F92672;
  font-family: "Coolvetica Regular";
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

#signUpBtn:hover {
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(62, 61, 50,0.35);
  -moz-box-shadow: 0px 0px 13px 0px rgba(62, 61, 50,0.35);
  box-shadow: 0px 0px 13px 0px rgba(62, 61, 50,0.35);
}

.userDashboard  {
  // background-color: #3e3d32;
  background-color: #201D20;
  height: 100vh;
  width: 100vw;
  display: flex;
}

// ok so this breaks the snippet page
// bc nav shows up here!
nav {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 20vw;
}

.dashContainer {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.btn {
  background: none;
  outline: none;
  border: none;
}

.navLink {
  height: 25vh;
  line-height: 25vh;
}

.userLink {
  background-color: #f92672;
}

.userLogin {
  background-color: #66d9ef;
}

.userSnippets {
  background-color: #fd971f;
}

.dashContent {
  background-color: #3e3d32;
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.headerContainer {
  // border: 1px solid red;
  padding: 5px 0;
  background-color: #ae81ff;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 50px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.snippetHeader {
  font-family: "Coolvetica Regular";
  color: #201D20;
  text-transform: uppercase;
}

.snippetLink {
  color: #201D20;
  background-color: #ae81ff;
  font-family: "Helvetica";
  height: fit-content;
  // how do you get them to respond to the length of text, and then by display grid?
  width: 15vw;
  line-height: 3vh;
  text-align: center;
  font-size: 1.2em;
  padding: .75em;
  // overflow-y: scroll;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  // go for a bolded italic font here!
}

.snippetLink:hover {
  transform: scale(1.025);
  transition: 0.3s ease-in-out;
  // color: #ae81ff;
  // background-color: #201D20;
}

// could've used ids for here, to be dry
.snippetGrid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 12vw);
  justify-items: center;
  justify-content: space-around;
  grid-row-gap: 25px;
  padding: 10vh 0 5vh;
  justify-content: space-around;
}

.categoryGrid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 12vh);
  justify-items: center;
  justify-content: space-around;
  grid-row-gap: 3vh;
  padding: 10vh 0 5vh;
}

.userEdit {
  background-color: #a6e22e;
}
