<section class="view__snippetShow">
  <div class="view__snippetContainer">
    <div class="view__snippetHeaderContainer">
      <h1 class="view__snippetHeader"><%= @category.name %></h1>
      <h1 class="view__snippetHeader" style="background-color: #a1efe4">Language - <%= @category.language %></h1>
    </div>
    <article class="view__snippetBody">
      <p><%= markdown(@category.description) %></p>
    </article>
    <div class="view__snippetBtnContainer">
      <%= link_to user_path(logged_in_user.id) do %>
        <div class="catReturnBtn_show " >Return </div>
      <% end %>
    </div><br><br>

  </div>
</section>
